<div class="row">
    <div class="col-sm-9">
        <h2>
            <i class="far fa-calendar-alt"></i>
            <%= @event[:date] %>
        </h2>
        <h1><%= @event[:title] %></h1>
        <p><%= @event[:description] %></p>
        <% for rsvp in @rsvps %>
            <div class="media">
                <% if rsvp[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %></h5>
                    <%= rsvp[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to RSVP</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>When?</h3>
        <p><%= @event[:date] %></p>
        <h3>Where?</h3>
        <p><%= @event[:location] %></p>
        <h3>How many guests so far?</h3>
        <p><%= @going_count %></p>
    </div>
</div>